"*":
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "linter-js-yaml"
    ]
    excludeVcsIgnoredPaths: false
  editor:
    fontFamily: "Inconsolata"
    fontSize: 16
    invisibles: {}
    tabType: "soft"
  "exception-reporting":
    userId: "54cad419-1011-c7a8-be9b-7f87ea720c11"
  "git-diff": {}
  "go-plus": {}
  linter:
    errorPanelHeight: 77
    lintOnFlyInterval: 500
  "linter-js-standard":
    checkStyleDevDependencies: true
    honorStyleSettings: true
  "linter-js-yaml": {}
  "linter-less":
    ieCompatibilityChecks: false
    ignoreUndefinedVariables: true
  "one-dark-ui": {}
  "standard-formatter": {}
  welcome:
    showOnStartup: false
